.footer {
    display: flex;
    justify-content: space-around;
    height: 25%;
    color: white;
}

.pomodoro-bottom-left,
.pomodoro-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-left {
    display: flex;
    flex-direction: column;
}

.edit-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
}

.button-bottom {
    border: none;
    background: none;
    color: white;
    font-size: 30px;
}